{
  "name": "wc-mcp",
  "version": "0.1.0",
  "protolab": {
    "enabled": true
  },
  "settings": {},
  "discord": {
    "categoryId": "",
    "channels": {
      "general": "",
      "updates": "",
      "dev": ""
    },
    "webhooks": {
      "updates": {
        "id": "",
        "token": "",
        "url": ""
      }
    }
  }
}